*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    font-size:30px ;
    box-shadow: 0 0 5px black;
}
/* body{
    color: rgb(0, 0, 0);
    background-color: beige;
} */
.block1{
    background: yellow;
}
.block2{
    background: green;
    position: relative;
    left:200px;
}
.block3{
    background: blueviolet;
    position: relative;
    left:400px;
}
.block4{
    background: rgb(5, 255, 255);
    position: relative;
    left:200px;
}
.block5{
    background: red;
}
/*--------------------*/
body{
    font-size: 20px;
    background-image:
     linear-gradient(27deg, violet, blue);
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainMenu{
    list-style: none;
    width: 130px;
    margin: 0;
    padding: 0; 
    border: 1px solid black;
}
.mainMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
}
.mainMenu > li{
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0px 10px 16px ;
}
.mainMenu > li:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.subMenu{
    position: absolute;
    display: none;
    top: 0;
    left: 131px;
}
.mainMenu > li:hover .subMenu{
    display: block;
}
.subMenu li{
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0px 10px 16px ;
}
.subMenu li:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}