*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin: 0 auto;
    width: 55rem;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    list-style: none;
}
.main_list> li{
    float: left;
    margin: 1rem;
    border: 1px solid black;
    /* border: 1px solid transparent; */
}
nav a{
    display: block;
    width: 8rem;
    text-align: center;
    color: cornflowerblue;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
}
.sub_class_opener:hover .sub_list{
    display: block;
}
nav li:hover{
border: 1px solid black;
background-color: lightgray;
}
.sub_list_opener{
    position: relative;
}
.sub_list{
    display: none;
    position: absolute;
    top: 4.2rem; 
    left: 31.6rem;
}
.sub_list li{
   border: 1px solid black;
}