* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-size: 20px;
  background-image: linear-gradient(270deg, blue, violet);
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
}
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.mainMenu {
  list-style: none;
  width: 250px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
}
.mainMenu li {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid black;
}
.mainMenu li:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
header{
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 500px;
}
/*For task 1*/
table , td , th{
  border:  2px solid black;
}
table{
  background: rgba(0, 0, 0, 0.1);
}
th, td{
  padding: 10px;
  text-align: center;
}
/*For task 1 END*/

/*For task 2*/
  form{
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    padding: 5px;
  }
/*For task 2 END*/

/*For task 3*/
.flag{
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: 1px solid rgba(0, 0, 0, 0);
  background: white;
}
.circle{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: red;
  margin: 40px auto;
}
/*For task 3 END*/