* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-size: 20px;
  background-image: linear-gradient(270deg, blue, violet);
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
}
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.mainMenu {
  list-style: none;
  width: 250px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
}
.mainMenu li {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid black;
}
.mainMenu li:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
header{
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 500px;
}
