*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #778899;
    display: flex;
    flex-direction: row;
    justify-content: space-around;/*X. Main*/
    align-items: flex-start;      /*Y. Sub-Main*/
    height: 40vh;
}
.one, .two, .three, .four, .five{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    background-color: rgb(100, 237, 134);
    width: 150px;
    height: 150px;
    padding: 30px 0;
}
/* 
.one{
background-color: red;
height: 170px;
width: 150px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
}
.two{
background-color: yellow;
height: 190px;
width: 170px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
}
.three{
background-color: green;
height: 210px;
width: 190px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
}
.four{
background-color: blue;
height: 230px;
width: 210px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
}
.five{
background-color: violet;
height: 250px;
width: 230px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
} */